.header_white {
    position: fixed;
    height: 155px;
    width: 100%;
    color: white;
    background:white;
}

.white_link, .white_link:hover {
    color: black
}

.flex {
    display: flex;
    width: 100%;
    table-layout:fixed;
}

.logo {
    position: absolute;
    top: 10%; left: 3%;
    margin-left: 2%;
}

#nav_white {
    position: absolute;
    top: 10%; right: 3%;
    color: white;

    text-align: right;
    letter-spacing: 2px;
    list-style: none;

    line-height: 35px;
}