.experience-page {
    width: auto;
    height: 100vh;
    background: white;
}

.experience-title {
    color: black;
    font-size: max(40px, 7.5vw);
    letter-spacing: 20px;

    width: 100%;
    padding-top: 200px;
    text-align: center;
}

.experience-body {
    color: grey;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
}

#href {
    color: grey;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}

.experience-div {
    height: 90vh;
    margin-top: 1%;
    width: auto;
}

/***************************/
/** Job Main List (Title) **/

#experience-list {
    top: 35%;
    left: 15px;
    width: 100%;

    list-style: none;
    margin-left: 25px;
    margin-top: 3%;
    padding-left: 0;
}

#experience-list li {
    font-size: 20px;
    color: black;    
}

#experience-list li span{
    font-size: 30px;
    color: black;  
    font-weight:bolder;  
}

#experience-list li:before {
    padding-right: 15px;
    content: "»";
}

/****************************/
/** Sub List (Position) **/

#sub-list-position {
    list-style: none;
    margin-left: 0;
}

#sub-list-position li {
    font-size: 18px;
    color: black;
    padding-bottom: 5px;
    text-decoration: none;
}

#sub-list-position li:before {
    list-style: none;
    content: none;
    padding-right: 2px;
}

/****************************/
/** Sub List (Description) **/

#sub-list-description {
    list-style: none;
    margin-left: 15px;
}

#sub-list-description li {
    font-size: 18px;
    color: grey;
    padding-bottom: 75px;
    padding-right: 10%;
}

#sub-list-description li:before {
    list-style: none;
    content: "//";
    padding-right: 4px;
}

@media screen and (max-width: 400px) {

    .experience-page {
        width: auto;
    }

    .experience-title {
        letter-spacing: 5px;
    }

    #experience-list {
        margin-top: 8%;
    }

}