@font-face {
	font-family: Calluna;
	src: url(/static/fonts/Calluna_W01_Regular.8a6de07.eot);
	src: url(/static/fonts/Calluna_W01_Regular.543e38d.woff) format("woff"), url(/static/fonts/Calluna_W01_Regular.7519039.ttf) format("truetype"), url(/static/img/Calluna_W01_Regular.21ec0e6.svg) format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Portrait;
	src: url(/static/fonts/Portrait-Regular.5daaab1.eot);
	src: url(/static/fonts/Portrait-Regular.5daaab1.eot?#iefix) format("embedded-opentype"), url(/static/fonts/Portrait-Regular.4996967.woff2) format("woff2"), url(/static/fonts/Portrait-Regular.eed9f4e.woff) format("woff"), url(/static/fonts/Portrait-Regular.1ea5a86.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Sectra;
	src: url(/static/fonts/Sectra.ae147d1.woff2) format("woff2"), url(/static/fonts/Sectra.0eb7d07.woff) format("woff"), url(/static/fonts/Sectra.9b10170.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Saol;
	src: url(/static/fonts/SaolText-Thin.2f60b53.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Roslinda;
	src: url(/static/fonts/RoslindaleDisplayCondensed-Regular.637f021.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Roslinda_Light;
	src: url(/static/fonts/RoslindaleDisplayCondensed-Light.fbd179c.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Mabry_Bold;
	src: url(/static/fonts/MabryProBold.0e4b301.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Mabry_Light;
	src: url(/static/fonts/MabryProLight.a9dcdb2.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Mabry_Medium;
	src: url(/static/fonts/MabryProMedium.d094c23.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Oscar;
	src: url(/static/fonts/FHOscar-Regular.13b66d5.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Oscar_Italic;
	src: url(/static/fonts/FHOscar-RegularItalic.e0a15af.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Saol-Italic;
	src: url(/static/fonts/SaolDisplay-ThinItalic.35f7115.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: GTSuper_Regular;
	src: url(/static/fonts/GTSuperDisplay-Regular.f6a2c41.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: GTSuper_Light;
	src: url(/static/fonts/GTSuperDisplay-Light.db1853d.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: GTSuper_Light_Italic;
	src: url(/static/fonts/GTSuperDisplay-LightItalic.dc592d0.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Sohne-Leicht;
	src: url(/static/fonts/Sohne-Leicht.d2ea1ac.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Sohne-Kraftig;
	src: url(/static/fonts/Sohne-Kraftig.dc5a649.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Sohne-Extraleicht;
	src: url(/static/fonts/Sohne-Extraleicht.a65985c.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Maison Neue;
	src: url(/static/fonts/maisonneue-medium-webfont.e2793a4.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

li,
ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased
}

body {
	padding: 0;
	margin: 0;
	position: relative;
	font-family: Portrait, serif;
	opacity: 1;
	transition: opacity .4s ease-in-out
}

body,
html {
	width: 100%;
	height: 100vh
}

body.bg-black,
html.bg-black {
	background-color: #000
}

.vs-scroll-view {
	position: fixed;
	top: 0;
	left: 0
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s ease-in-out
}

.fade-enter,
.fade-leave-to {
	opacity: 0
}

a {
	text-decoration: none
}

.bebas {
	font-family: Maison Neue, sans-serif;
	text-transform: uppercase;
	font-size: 1.3em
}

#app {
	position: relative
}

#app>header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	opacity: 1;
	transition: opacity 1s ease-in-out
}

#app>header.fixed {
	position: fixed
}

#app>header.hidden-fixed {
	z-index: -1
}

#app>header.fade-out {
	opacity: 0
}

#app>header.inactive {
	opacity: 1
}

#app>header .logo {
	font-family: Sohne-Leicht, sans-serif;
	color: #fff;
	margin: 110px 0 0 70px;
	display: block;
	width: 400px;
	line-height: normal
}

#app>header .logo span.main {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	line-height: 20px
}

#app>header .logo span.sub {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	padding-left: 100px;
	opacity: .35;
	font-size: 16px
}

#app>header nav {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	z-index: 10
}

#app>header nav ul {
	list-style-type: none;
	margin: 110px 70px 0 0
}

#app>header nav ul li {
	display: inline-block;
	margin-left: 40px;
	opacity: .35;
	transition: opacity .5s ease;
	font-family: Sohne-Leicht, sans-serif
}

#app>header nav ul li a {
	color: #fff;
	font-size: 15px
}

#app>header nav ul li.active,
#app>header nav ul li:hover {
	opacity: 1
}

#app>header.black .logo,
#app>header.black nav ul li a {
	color: #000
}

#app>header.black .logo span.sub:before {
	background-color: rgba(0, 0, 0, .6)
}

#loader,
.loader-project {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;
	color: #fff;
	transition: all .8s ease;
	pointer-events: none
}

@-webkit-keyframes blink {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes blink {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

#loader .cover,
.loader-project .cover {
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .8s cubic-bezier(.545, .04, .13, .965)
}

#loader .loading-bar,
.loader-project .loading-bar {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 1px;
	margin: 30px 0 0 17px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all .8s ease
}

#loader .loading-bar .progress,
.loader-project .loading-bar .progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #fff;
	transition: all .8s ease
}

#loader .loading-bar .progress:first-of-type,
.loader-project .loading-bar .progress:first-of-type {
	width: 100%;
	opacity: .2
}

#loader .loading-bar .progress:nth-of-type(2),
.loader-project .loading-bar .progress:nth-of-type(2) {
	width: 0;
	opacity: 1
}

.loader-project.hidden {
	opacity: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition-delay: .8s
}

.loader-project.hidden p {
	opacity: 0!important;
	transition-delay: .1s
}

.loader-project.hidden .loading-bar {
	opacity: 0
}

.transition-fade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background-color: #000;
	pointer-events: none;
	transition: opacity .5s ease;
	opacity: 1
}

.transition-fade.hidden {
	opacity: 0
}

.transition-fade.fast {
	opacity: 1;
	transition: opacity .4s ease
}

sup {
	font-family: Roslinda;
	font-size: large;
	letter-spacing: 0;
	vertical-align: super
}

@media screen and (max-width:960px) {
	.wrapper {
		max-width: none!important
	}
	.logo {
		margin: 60px 0 0 60px!important
	}
	nav ul {
		margin: 60px 60px 0 0!important
	}
	nav ul .project {
		display: none!important
	}
	nav ul .about {
		opacity: 1!important
	}
	.home video {
		display: none!important
	}
	.home .home-container {
		left: 60px!important;
		padding-right: 60px!important
	}
	.about .wrapper {
		padding: 0 60px!important
	}
	.about section.intro img {
		width: 50%!important
	}
	.about section.intro .text-container {
		width: 100%!important
	}
	.about section.intro .text-container section {
		-webkit-box-orient: vertical!important;
		-webkit-box-direction: normal!important;
		-ms-flex-direction: column!important;
		flex-direction: column!important
	}
	.about section.intro .text-container p {
		font-size: 1.5em!important;
		line-height: 40px;
		margin-top: 60px!important
	}
	.about section.intro h1 {
		font-size: 2em!important;
		line-height: 50px!important
	}
	.about div.awards {
		margin-top: 60px!important;
		text-align: left!important
	}
	.about section.credits {
		margin-top: 50px!important
	}
	.caseStudy>header section .section-container {
		width: calc(100% - 120px)!important
	}
	.caseStudy>header section.concept {
		padding: 130px 0!important
	}
	.caseStudy>header section .title-wrapper h1 {
		font-size: 6em!important
	}
	.caseStudy>header section .introduction-wrapper p {
		font-size: 1.875em!important;
		line-height: 1.2em!important
	}
	.caseStudy>main .image-wrapper video {
		border-width: 70px!important
	}
	.caseStudy>main .credits {
		width: calc(100% - 120px)!important
	}
	.caseStudy>main .credits ul {
		-ms-flex-wrap: wrap!important;
		flex-wrap: wrap!important
	}
	.caseStudy>main .credits ul li {
		width: 50%!important;
		max-width: 100%!important;
		margin-bottom: 50px!important
	}
	.caseStudy>main .credits ul li:last-child {
		margin-bottom: 0!important
	}
	.caseStudy footer li {
		font-size: 2.8em!important
	}
}

@media screen and (max-width:768px) {
	.logo {
		margin: 40px 0 0 40px!important
	}
	.logo span {
		font-size: 1.125em!important
	}
	nav ul {
		margin: 40px 40px 0 0!important
	}
	nav ul .project {
		display: none!important
	}
	nav ul .about {
		opacity: 1!important
	}
	nav ul .about a {
		font-size: 1.125em!important
	}
	.home .home-container {
		position: relative!important;
		bottom: auto!important;
		left: auto!important;
		margin-top: 250px!important;
		margin-left: 40px!important;
		padding-right: 40px!important
	}
	.home .home-container li h1,
	.home .home-container span {
		font-size: 1.875em!important
	}
	.about .wrapper {
		padding: 0 40px!important
	}
	.about img {
		padding-top: 50px!important
	}
	.caseStudy .cross.active {
		top: 20px!important;
		right: 20px!important
	}
	.caseStudy>header section ul {
		max-width: 100%!important;
		text-align: center!important
	}
	.caseStudy>header section .section-container {
		width: calc(100% - 80px)!important;
		-webkit-box-orient: vertical!important;
		-webkit-box-direction: normal!important;
		-ms-flex-direction: column!important;
		flex-direction: column!important
	}
	.caseStudy>header section video {
		display: none!important
	}
	.caseStudy>header section.concept {
		padding: 70px 0!important
	}
	.caseStudy>header section .title-wrapper h1 {
		font-size: 5em!important
	}
	.caseStudy>header section .introduction-wrapper {
		max-width: 100%!important;
		padding-left: 0!important
	}
	.caseStudy>header section .introduction-wrapper p {
		font-size: 1.5em!important
	}
	.caseStudy>header section .introduction-wrapper p:first-child {
		margin-bottom: 40px!important
	}
	.caseStudy>main .image-wrapper video {
		display: none!important
	}
	.caseStudy>main .credits {
		width: calc(100% - 80px)!important;
		padding: 130px 0!important
	}
	.caseStudy>main .credits ul li span {
		width: 100%!important
	}
	.caseStudy footer {
		padding: 50px 40px!important
	}
	.caseStudy footer li {
		display: table!important;
		font-size: 2em!important;
		padding: 0!important;
		margin: 30px auto!important
	}
}

@media screen and (max-width:480px) {
	.logo {
		margin: 30px 0 0 30px!important
	}
	.logo span {
		display: block!important;
		font-size: 1em!important;
		padding-left: 0!important
	}
	.logo span:before {
		display: none!important
	}
	nav ul {
		margin: 30px 30px 0 0!important
	}
	nav ul li a {
		font-size: 1em!important
	}
	.home .home-container {
		margin-top: 150px!important;
		margin-left: 30px!important;
		padding-bottom: 50px!important
	}
	.home .home-container span {
		font-size: 1.5em!important;
		line-height: 1.5em!important
	}
	.home .home-container span br {
		display: none
	}
	.home .home-container li {
		display: block!important
	}
	.home .home-container li h1 {
		font-size: 1.5em!important
	}
	.about .wrapper {
		padding: 0 30px!important
	}
	.about section.intro h1 {
		line-height: 40px!important
	}
	.about section.intro .text-container p {
		font-size: 1.375em!important;
		line-height: 35px!important
	}
	.about div.awards h1 {
		font-size: 1.5em!important
	}
	.about div.awards .awards-container {
		width: 100%!important
	}
	.about div.awards li {
		margin-bottom: 25px!important
	}
	.about div.awards li span {
		margin-top: 6px!important;
		display: block!important
	}
	.about div.awards li span:first-child {
		display: none!important
	}
	.about section.credits {
		margin-top: 15px!important
	}
	.caseStudy>header section .section-container {
		width: calc(100% - 60px)!important
	}
	.caseStudy>header section .title-wrapper h1 {
		font-size: 4.5em!important;
		padding: 0 30px!important
	}
	.caseStudy>header section .introduction-wrapper p {
		text-align: center!important;
		font-size: 1.25em!important
	}
	.caseStudy>main .image-wrapper video {
		border-width: 0!important
	}
	.caseStudy>main .credits {
		width: calc(100% - 60px)!important;
		padding: 60px 0!important
	}
	.caseStudy>main .credits ul {
		-webkit-box-orient: vertical!important;
		-webkit-box-direction: normal!important;
		-ms-flex-direction: column!important;
		flex-direction: column!important
	}
	.caseStudy>main .credits ul li {
		width: 100%!important;
		text-align: center!important;
		margin-bottom: 40px!important
	}
	.caseStudy>main .credits ul li:last-child {
		margin-bottom: 0!important
	}
	.caseStudy>main .credits ul li span {
		display: block!important;
		margin: auto
	}
	.caseStudy footer {
		padding: 50px 30px!important
	}
	.caseStudy footer li {
		font-size: 1.75em!important
	}
}

.home[data-v-10987199] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 1;
	transition: opacity .2s ease-in-out
}

.home.fade-in[data-v-10987199] {
	opacity: 1
}

.home-container[data-v-10987199] {
	position: absolute;
	bottom: 50px;
	left: 70px
}

.home-container>span[data-v-10987199] {
	font-size: calc(25px + 45 * ((100vw - 768px) / 952));
	font-family: Roslinda_Light, serif;
	color: #000;
	line-height: calc(30px + 45 * ((100vw - 768px) / 952));
	opacity: 1;
	transition: opacity .2s ease-in-out
}

.home-container>span.inactive[data-v-10987199] {
	opacity: 0
}

.home[data-v-10987199]:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: silver;
	z-index: -2
}

h1 video[data-v-2ce17c4f] {
	height: calc(15px + 45 * ((100vw - 768px) / 952));
	width: auto;
	margin-left: 0;
	margin-right: 10px
}

li[data-v-2ce17c4f] {
	display: inline-block;
	position: relative;
	padding-right: 1%
}

li h1[data-v-2ce17c4f] {
	position: relative;
	margin: 10px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: Roslinda, serif;
	font-size: calc(25px + 45 * ((100vw - 768px) / 952));
	line-height: calc(5px + 45 * ((100vw - 768px) / 952))
}

li a[data-v-2ce17c4f] {
	position: relative;
	color: #000;
	display: inline-block;
	opacity: 1;
	transition: opacity .2s ease-in-out
}

li.active a[data-v-2ce17c4f]:after {
	background-color: #fff
}

li.active h1[data-v-2ce17c4f]:after {
	opacity: 1
}

li.active .video-container[data-v-2ce17c4f] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1
}

li.active .video-container video[data-v-2ce17c4f] {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: opacity .2s ease-in-out;
	opacity: 1
}

li.inactive a[data-v-2ce17c4f] {
	opacity: .15
}

.caseStudy .cross[data-v-735e522f] {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 15px;
	height: 15px;
	z-index: 30;
	cursor: pointer;
	transition: opacity .8s ease;
	opacity: 0;
	pointer-events: none
}

.caseStudy .cross.active[data-v-735e522f] {
	opacity: 1;
	pointer-events: all
}

.caseStudy .cross.inactive[data-v-735e522f] {
	opacity: 0
}

.caseStudy .cross svg[data-v-735e522f] {
	width: 100%
}

.caseStudy .animated[data-v-735e522f] {
	transition: all .8s ease;
	opacity: 1
}

.caseStudy .animated.active[data-v-735e522f] {
	opacity: 0!important
}

.caseStudy .width-wrapper[data-v-735e522f] {
	max-width: 1100px;
	margin: 0 auto
}

.caseStudy>header.hidden section.intro .cover[data-v-735e522f],
.caseStudy>header.hidden section.intro .title-wrapper h1[data-v-735e522f],
.caseStudy>header.hidden section.intro .title-wrapper h2[data-v-735e522f] {
	opacity: 0
}

.caseStudy>header section[data-v-735e522f] {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #f3f3f3
}

.caseStudy>header section.intro[data-v-735e522f] {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100vh
}

.caseStudy>header section.concept[data-v-735e522f] {
	position: relative;
	margin-top: 100vh;
	padding: 210px 0
}

.caseStudy>header section .section-container[data-v-735e522f] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1200px;
	width: calc(100% - 140px);
	margin: auto
}

.caseStudy>header section .cover[data-v-735e522f] {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: 50%;
	transition: opacity 2.4s ease
}

.caseStudy>header section .cover-video[data-v-735e522f] {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 1;
	transition: opacity .5s ease-in-out
}

.caseStudy>header section .cover-video.fade-out[data-v-735e522f] {
	opacity: 0
}

.caseStudy>header section .cover-video video[data-v-735e522f] {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto
}

.caseStudy>header section .cover-video video.hidden[data-v-735e522f] {
	display: none
}

.caseStudy>header section .title-wrapper[data-v-735e522f] {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
	max-width: 1100px;
	mix-blend-mode: difference;
	opacity: 1;
	transition: opacity .5s ease-in-out .2s
}

.caseStudy>header section .title-wrapper.fade-out[data-v-735e522f] {
	opacity: 0;
	transition-delay: 0s
}

.caseStudy>header section .title-wrapper [data-v-735e522f] {
	transition: all 2s cubic-bezier(.545, .04, .13, .965) .6s
}

.caseStudy>header section .title-wrapper h1[data-v-735e522f] {
	font-family: Roslinda;
	text-transform: uppercase;
	text-align: center;
	font-size: calc(100px + 45 * ((100vw - 768px) / 952));
	line-height: calc(105px + 45 * ((100vw - 768px) / 952))
}

.caseStudy>header section .title-wrapper h2[data-v-735e522f] {
	text-align: center;
	font-size: 1.125em;
	margin-bottom: 20px;
	opacity: .6;
	text-transform: none
}

.caseStudy>header section .introduction-wrapper[data-v-735e522f] {
	padding-left: 220px;
	color: #fff;
	text-align: left;
	max-width: 900px
}

.caseStudy>header section .introduction-wrapper p[data-v-735e522f],
.caseStudy>header section .introduction-wrapper pre[data-v-735e522f] {
	font-family: Sohne-Leicht;
	color: #555;
	line-height: 30px;
	font-size: 20px
}

.caseStudy>header section ul[data-v-735e522f] {
	margin-top: 4px;
	max-width: 250px;
	color: #fff;
	text-align: left
}

.caseStudy>header section ul li[data-v-735e522f] {
	display: block;
	font-family: Sohne-Leicht;
	font-size: 16px;
	line-height: 28px
}

.caseStudy>header section ul li a[data-v-735e522f] {
	display: inline-block;
	position: relative;
	color: #000
}

.caseStudy>header section ul li a[data-v-735e522f]:hover:after {
	width: 100%
}

.caseStudy>header section ul li a[data-v-735e522f]:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #a1a1a1;
	opacity: 1;
	transition: all .5s cubic-bezier(.545, .04, .13, .965)
}

.caseStudy>header section ul li a[data-v-735e522f]:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #555;
	opacity: 1
}

.caseStudy>header section ul li p.bebas[data-v-735e522f] {
	font-size: 13px;
	line-height: normal;
	font-family: Sohne-Leicht;
	color: #555;
	letter-spacing: 0;
	text-align: left;
	text-transform: none;
	padding-right: 0
}

.caseStudy>header section ul li p.infos[data-v-735e522f] {
	color: #000;
	margin-bottom: 30px
}

.caseStudy>header section ul li a.infos[data-v-735e522f] {
	color: #fff;
	margin-bottom: 30px
}

.caseStudy>main[data-v-735e522f] {
	position: relative;
	z-index: 20;
	background-color: #f3f3f3
}

.caseStudy>main .image-wrapper[data-v-735e522f] {
	background-color: #f3f3f3;
	padding: 0 50px
}

.caseStudy>main .image-wrapper img[data-v-735e522f],
.caseStudy>main .image-wrapper video[data-v-735e522f] {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 50px
}

.caseStudy>main .image-wrapper video[data-v-735e522f] {
	border: 150px solid #000
}

.caseStudy>main .image-wrapper:nth-last-child(-n+2) img[data-v-735e522f],
.caseStudy>main .image-wrapper:nth-last-child(-n+2) video[data-v-735e522f] {
	margin-bottom: 0
}

.caseStudy>main .image-wrapper.fullscreen[data-v-735e522f] {
	width: 100%;
	height: 100vh;
	background-color: transparent;
	position: relative;
	margin: 150px 0;
	overflow: hidden
}

.caseStudy>main .image-wrapper.fullscreen .cover[data-v-735e522f] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	background-position: 50%;
	transition: all 0s linear;
	-webkit-transform: scale(1.3);
	transform: scale(1.3)
}

.caseStudy>main .image-wrapper>[data-v-735e522f] {
	transition: all 1s ease;
	opacity: 1;
	will-change: opacity transform
}

.caseStudy>main .image-wrapper>.hidden[data-v-735e522f] {
	opacity: 0
}

.caseStudy>main .credits[data-v-735e522f] {
	width: calc(100% - 140px);
	max-width: 1200px;
	margin: auto;
	background-color: #f3f3f3;
	padding: 170px 0;
	font-family: Maison Neue;
	text-align: center
}

.caseStudy>main .credits .bebas[data-v-735e522f] {
	font-size: .75em;
	opacity: .2;
	margin-bottom: 40px
}

.caseStudy>main .credits ul[data-v-735e522f] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.caseStudy>main .credits ul li[data-v-735e522f] {
	max-width: 320px;
	font-size: 1.125em;
	text-align: left;
	line-height: 30px;
	overflow: hidden
}

.caseStudy>main .credits ul li[data-v-735e522f]:last-child {
	margin-right: 0
}

.caseStudy>main .credits ul li span[data-v-735e522f] {
	display: table-row;
	color: #000;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	font-size: 16px;
	font-family: Sohne-Leicht
}

.caseStudy>main .credits ul li span.job[data-v-735e522f] {
	color: #969696;
	font-size: 14px;
	font-family: Sohne-Leicht
}

.caseStudy>main .credits a[data-v-735e522f] {
	color: #101010;
	font-weight: 400;
	display: inline-block;
	position: relative;
	margin-top: 50px;
	padding-bottom: 3px
}

.caseStudy>main .credits a[data-v-735e522f]:hover:before {
	width: 100%
}

.caseStudy>main .credits a[data-v-735e522f]:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #101010;
	opacity: .2
}

.caseStudy>main .credits a[data-v-735e522f]:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #101010;
	opacity: 1;
	transition: all .5s cubic-bezier(.545, .04, .13, .965)
}

.caseStudy>main .credits p.link[data-v-735e522f] {
	margin-top: 45px
}

.caseStudy>main .credits p.link span[data-v-735e522f] {
	display: inline-block;
	font-size: 25px;
	margin-left: 3px
}

.caseStudy>footer[data-v-735e522f] {
	position: relative;
	z-index: 20;
	color: #000;
	padding: 150px 100px;
	max-height: calc(100vh - 75px);
	overflow: hidden;
	text-align: center;
	transition: height .3s ease-in-out
}

.caseStudy>footer[data-v-735e522f]:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
	z-index: -2
}

.caseStudy>footer .width-wrapper[data-v-735e522f] {
	max-width: none;
	opacity: 1;
	transition: opacity .3s ease-in-out
}

.caseStudy>footer .width-wrapper.fade-out[data-v-735e522f] {
	opacity: 0
}

.caseStudy>footer .bebas[data-v-735e522f] {
	font-size: 12px;
	opacity: .2;
	margin-bottom: 40px;
	letter-spacing: .17em
}

.caseStudy>footer li[data-v-735e522f] {
	display: inline-block;
	position: relative;
	padding: 10px 3% 0 0;
	font-size: calc(40px + 45 * ((100vw - 768px) / 952));
	line-height: calc(45px + 45 * ((100vw - 768px) / 952));
	font-family: Roslinda;
	letter-spacing: 3px;
	text-transform: uppercase
}

.caseStudy>footer li a[data-v-735e522f] {
	position: relative;
	color: #000;
	display: inline-block;
	opacity: 1;
	transition: opacity .2s ease-in-out
}

.caseStudy>footer li a[data-v-735e522f]:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transition: background .2s ease-in-out
}

.caseStudy>footer li a[data-v-735e522f]:after {
	content: ",";
	position: absolute;
	bottom: 0;
	left: 100%;
	opacity: 1;
	transition: opacity .2s ease-in-out
}

.caseStudy>footer li.actived a[data-v-735e522f]:after {
	opacity: 1
}

.caseStudy>footer li.actived .video-container video[data-v-735e522f] {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	transition: all .4s ease-out
}

.caseStudy>footer li.inactive[data-v-735e522f] {
	opacity: .15
}

.caseStudy>footer li.inactive a[data-v-735e522f]:after {
	opacity: 0
}

.caseStudy>footer li[data-v-735e522f]:last-child:after {
	content: "."
}

.caseStudy>footer video[data-v-735e522f] {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: opacity .6s ease-in-out
}

.caseStudy>footer video.play[data-v-735e522f] {
	opacity: 1
}

.animated[data-v-36fb2a43] {
	transition: all .6s ease;
	opacity: 1
}

.animated.active[data-v-36fb2a43] {
	opacity: 0
}

.about[data-v-36fb2a43],
.helper[data-v-36fb2a43] {
	min-height: 100vh;
	background-color: #000
}

.about[data-v-36fb2a43] {
	color: #fff
}

.about section[data-v-36fb2a43] {
	position: relative
}

.about .wrapper[data-v-36fb2a43] {
	padding: 0 100px;
	margin: 0 auto;
	position: relative
}

.about .wrapper .container .text-container section[data-v-36fb2a43] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.about .wrapper .container .awards[data-v-36fb2a43] {
	text-align: left;
	margin-top: 50px
}

.about .wrapper .container .awards h1[data-v-36fb2a43] {
	font-size: 14px;
	line-height: normal;
	font-family: Sohne-Leicht;
	color: #555;
	letter-spacing: 0;
	text-align: left;
	text-transform: none;
	margin-bottom: 15px;
	padding-right: 0
}

.about .wrapper .container .awards .awards-container[data-v-36fb2a43] {
	width: 220px
}

.about .wrapper .container .awards .awards-container .awward[data-v-36fb2a43] {
	display: block;
	margin-bottom: 60px
}

.about .wrapper .container .awards li[data-v-36fb2a43] {
	font-family: Sohne-Leicht;
	font-size: 20px;
	line-height: 28px
}

.about .wrapper .container .awards li span[data-v-36fb2a43] {
	color: #fff
}

.about .wrapper .container .awards li a[data-v-36fb2a43] {
	display: inline-block;
	position: relative;
	color: #fff
}

.about .wrapper .container .awards li a[data-v-36fb2a43]:hover:after {
	width: 100%
}

.about .wrapper .container .awards li a[data-v-36fb2a43]:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #a1a1a1;
	opacity: 1;
	transition: all .5s cubic-bezier(.545, .04, .13, .965)
}

.about .wrapper .container .awards li a[data-v-36fb2a43]:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #555;
	opacity: 0
}

.about .wrapper .container .awards .clients[data-v-36fb2a43] {
	font-size: 15px;
	line-height: 23px
}

.about h2.bebas[data-v-36fb2a43] {
	font-size: 12px;
	letter-spacing: .16em;
	margin-bottom: 40px;
	opacity: .2
}

.about .intro .text-container[data-v-36fb2a43] {
	position: relative;
	z-index: 2;
	width: 100%;
	display: inline-block
}

.about .intro .text-container h1[data-v-36fb2a43] {
	font-size: calc(35px + 45 * ((100vw - 768px) / 952));
	line-height: calc(40px + 45 * ((100vw - 768px) / 952));
	font-family: Roslinda;
	color: #fff;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 30px
}

.about .intro .text-container h1 a[data-v-36fb2a43] {
	display: inline-block;
	position: relative;
	color: #fff
}

.about .intro .text-container h1 a[data-v-36fb2a43]:hover:after {
	width: 100%
}

.about .intro .text-container h1 a[data-v-36fb2a43]:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #a1a1a1;
	opacity: 1;
	transition: all .5s cubic-bezier(.545, .04, .13, .965)
}

.about .intro .text-container h1 a[data-v-36fb2a43]:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #555;
	opacity: 0
}

.about .intro .text-container p[data-v-36fb2a43] {
	font-family: Sohne-Leicht;
	color: #555;
	line-height: 30px;
	margin-top: 40px;
	font-size: 20px;
	max-width: 815px;
	padding-left: 30px;
	padding-right: 50px
}

.about .intro .text-container p[data-v-36fb2a43]:last-child {
	margin-top: 55px;
	font-size: 15px;
	font-family: Sohne-Leicht
}

.about .intro .text-container p a[data-v-36fb2a43] {
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 15px
}

.about .intro .text-container p a[data-v-36fb2a43]:hover:after {
	width: 100%
}

.about .intro .text-container p a[data-v-36fb2a43]:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #a1a1a1;
	opacity: 1;
	transition: all .5s cubic-bezier(.545, .04, .13, .965)
}

.about .intro .text-container p a[data-v-36fb2a43]:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #555;
	opacity: 0
}

.about .intro img[data-v-36fb2a43] {
	display: block;
	min-width: 200px;
	margin: auto;
	padding-top: 200px;
	padding-bottom: 100px
}

.about .credits[data-v-36fb2a43] {
	margin-top: 100px;
	padding-bottom: 60px;
	line-height: 1.5em;
	font-family: Maison Neue;
	color: #555;
	font-size: 12px
}

.about .credits a[data-v-36fb2a43] {
	color: #a1a1a1;
	display: inline-block;
	position: relative
}

.about .credits a[data-v-36fb2a43]:hover:after {
	width: 100%
}

.about .credits a[data-v-36fb2a43]:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #a1a1a1;
	opacity: 1;
	transition: all .5s cubic-bezier(.545, .04, .13, .965)
}

.about .credits a[data-v-36fb2a43]:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #555;
	opacity: 1
}